body{
    background:rgb(224, 224, 169);
}
.titulo{
     text-align: center;
     color: rgb(144, 101, 184);

}
section{
    display: grid;
    grid-template-columns: 50% 50%;

    
}

h2{
    text-align: right;
}