body {
  background: rgb(243, 243, 207);
}
.titulo {
  text-align: center;
  color: rgb(52, 3, 95);
}
section {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 30px;
  align-content: center;
  overflow: hidden;
  object-fit: cover;
  justify-content: center;
}
#tarjetasproductos{
  justify-content: center;
  text-align: center;
}
h2 {
  text-align: right;
}
.id {
  background-color: rgb(121, 85, 60);
}
.agregarProductos {
  color: rgb(107, 70, 42);
}
#vaciar {
  
  text-align: right;
}
#total {
  text-align: right;
  text-decoration:black;
  font-size: larger;
}
#carrito{
  text-align: center;
}

 #carrito-Vacio {
  font-size: larger;
  text-align: center;
}